<div class="page-header">
  <h3>Net Worth #<%= @net_worth.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Asset total</dt>
      <dd><%= @net_worth.asset_total_id %></dd>

      <dt>Liabilities total</dt>
      <dd><%= @net_worth.liabilities_total_id %></dd>

      <dt>Net worth total</dt>
      <dd><%= @net_worth.net_worth_total_id %></dd>

      <dt>User</dt>
      <dd><%= @net_worth.user_id %></dd>

      <dt>Date</dt>
      <dd><%= @net_worth.date %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/net_worths" class="btn btn-primary">
        Back
      </a>
      <a href="/net_worths/<%= @net_worth.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_net_worth/<%= @net_worth.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Net worth has many historical_net_worths -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Historical_net_worths
      </li>

      <% @net_worth.historical_net_worths.each do |historical_net_worth| %>
        <li class="list-group-item">
          <a href="/historical_net_worths/<%= historical_net_worth.id %>">
            <%= historical_net_worth.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/historical_net_worths/<%= historical_net_worth.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/historical_net_worths/<%= historical_net_worth.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_historical_net_worth/<%= historical_net_worth.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
