<div class="page-header">
  <h3>Asset Type #<%= @asset_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Checking</dt>
      <dd><%= @asset_type.checking %></dd>

      <dt>Savings</dt>
      <dd><%= @asset_type.savings %></dd>

      <dt>Other cash equivalents</dt>
      <dd><%= @asset_type.other_cash_equivalents %></dd>

      <dt>Brokerage</dt>
      <dd><%= @asset_type.brokerage %></dd>

      <dt>Retirement</dt>
      <dd><%= @asset_type.retirement %></dd>

      <dt>Business ownership</dt>
      <dd><%= @asset_type.business_ownership %></dd>

      <dt>Real estate</dt>
      <dd><%= @asset_type.real_estate %></dd>

      <dt>Automobiles</dt>
      <dd><%= @asset_type.automobiles %></dd>

      <dt>Other use assets</dt>
      <dd><%= @asset_type.other_use_assets %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/asset_types" class="btn btn-primary">
        Back
      </a>
      <a href="/asset_types/<%= @asset_type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_asset_type/<%= @asset_type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
