<div class="page-header">
  <h1>
    Assets
    <a href="/assets/new" class="btn btn-lg btn-success">New Asset</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "assets_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :asset_value, "Asset value" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :asset_value_gteq, :class => "form-control", :placeholder => "Asset value greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :asset_value_lteq, :class => "form-control", :placeholder => "Asset value less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :user_id, "User" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :user_id_gteq, :class => "form-control", :placeholder => "User greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :user_id_lteq, :class => "form-control", :placeholder => "User less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
  <%= f.label :checking, "AssetType Checking" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :asset_type_checking_gteq, :class => "form-control", :placeholder => "AssetType Checking greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :asset_type_checking_lteq, :class => "form-control", :placeholder => "AssetType Checking less than or equal to" %>
    </div>
  </div>
</div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/assets" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#assets_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Asset type</th>
        <th>User</th>
        <th>Asset value</th>
        <th>Actions</th>
      </tr>

      <% @assets.each do |asset| %>
      <tr>
        <td>
          <% if asset.asset_type.present? %>
            <a href="/asset_types/<%= asset.asset_type.id %>">
              <%= asset.asset_type.checking %>
            </a>
          <% end %>
        </td>
        <td><%= asset.user_id %></td>
        <td><%= asset.asset_value %></td>
        <td>
          <a href="/assets/<%= asset.id %>" class="btn btn-primary">Show</a>
          <a href="/assets/<%= asset.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_asset/<%= asset.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @assets, theme: 'twitter-bootstrap-4' %>
  </div>
</div>

<div class="page-header">
  <h1>
    My Assets
  </h1>

  <div class="container">
    <p class="lead">Cash and Cash Equivalents: </p>
    <div class="form-group">
      <label for="Checking">Checking Accounts:</label>
      <input class="form-control" type="text" name="checking" placeholder="Enter total sum of checking accounts">

      <label for="Savings">Saving Accounts:</label>
      <input class="form-control" type="text" name="savings" placeholder="Enter total sum of Savings accounts">

      <label for="Other Cash Equivalents">Other Cash Equivalents:</label>
      <input class="form-control" type="text" name="other_cash_equivalents" placeholder="Enter total sum of other cash equivalents">
    </div>
  </div>

  <div class="container">
    <p class="lead">Invested Assets: </p>
    <div class="form-group">
      <label for="Brokerage">Brokerage:</label>
      <input class="form-control" type="text" name="brokerage" placeholder="Enter total sum of brokerage accounts">
      <label for="Retirement">Retirement Accounts:</label>
      <input class="form-control" type="text" name="retirement" placeholder="Enter total sum of brokerage accounts">
      <label for="Business Ownership">Business Ownership:</label>
      <input class="form-control" type="text" name="business_ownership" placeholder="Enter total sum of business ownership assets">
    </div>
  </div>

  <div class="container">
    <p class="lead">Use Assets: </p>
    <div class="form-group">
      <label for="Real Estate">Real Estate:</label>
      <input class="form-control" type="text" name="real_estate" placeholder="Real estate total">
      <label for="Cars">Cars:</label>
      <input class="form-control"type="text" name="cars" placeholder="Car total">
      <label for="Other Use Assets">Other Use Assets:</label>
      <input class="form-control" type="text" name="other_use_assets" placeholder="Other use assets">
    </div>
  </div>

  <div class="container">
    <p class="lead">Other: </p>
    <div class="form-group">
      <label for="Other Assets">Other:</label>
      <input class="form-control" type="text" name="other_assets" placeholder="Other Asset total">
    </div>
  </div>
</form>

<button class="btn btn-success">Calculate Assets    </button>
<hr>
